<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Personal Blog</title>
</head>
<body>
    <main>
        <nav class="center">
            <hr>
            <ul>
              <li>
                <a class="nav-link" href="#"><i class="far fa-copy"></i>My Personal Blog</a>
              </li>
              <li>
                <a class="nav-link" href="/"><i class="far fa-copy"></i>Home</a>
              </li>
              <li>
                <a class="nav-link" href="/create"><i class="far fa-clone"></i>Create Post</a>
              </li>
              <li>
                <a class="nav-link" href="/view"><i class="far fa-calendar-alt"></i>View / Edit / Delete Posts</a>
              </li>
            </ul>
            <hr>
          </nav>