<%- include("partials/header.ejs") %>
    <% if (locals.postEdit) { %>
        <header>
             <h1>This is Editing Page  </h1>
        </header>
        <div class="container">
        <form action="/edit/<%= postId %>" method="post">
            <input class="input" type="text" name="name" id="" placeholder=" Enter Name" required><br> <br>
            <input class="input" type="text" name="title" id="" placeholder=" Enter title" required><br> <br>
            <textarea class="input" name="text" id="" cols="30" rows="10" placeholder="Description" required></textarea><br><br>
            <input type="submit" value="submit" class="button">
        
        </form>
    </div>

    
     
    <% } else { %>

    <header>
    <h1 >This is Create Post page of Mohammed Nazeer's blog  </h1>
    </header>
    <div class="container">
        <form action="/submit" method="post">
            <input class="input" type="text" name="name" id="" placeholder=" Enter Name" required><br> <br>
            <input class="input" type="text" name="title" id="" placeholder=" Enter title" required><br> <br>
            <textarea class="input" name="text" id="" cols="30" rows="10" placeholder="Description" required></textarea><br><br>
            <input type="submit" value="submit" class="button" >
        
        </form>
    </div>
    <%}%>
    
    <%- include("partials/footer.ejs") %>