*{
    background-color: #FDF5DF;
}

.container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }


.input {
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid var(--input-border);
    border-radius: 4px;
  }
  .input:not(textarea) {
    line-height: 1;
    height: 2.25rem;
  }

  .button {
    position: relative;
    background-color:#5cb85c;
    color: #fff;
    border:none;
    border-radius:10px;
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    margin: 0;
    margin-left: 65px;
  }
  .after{
        width: 54%;
        font-size: 16px;
        font-size: max(16px, 1em);
        font-family: inherit;
        padding: 0.25em 0.5em;
        margin: 0.5em;
        border: 1px solid black;
        border-radius: 5px;
    }
    .after strong {
        margin-right: 5px;
      }


    .after div{
        font-size: 16px;
        font-size: max(16px, 1em);
        font-family: inherit;
        padding: 0.25em 0.5em;
        margin: 0.5em;

    
       
    }

    div.before{
        display: flex;
        align-items: center;
        justify-content: center;
        height: max-content;
    }

a{
    background-color: #292b2c;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 10%;
    color: #333;
    font-style: oblique;
    margin-bottom: 5px;
}

body > main > div.before > div > center > form {
    margin-top: 10px;
}

#create > div > form > input[type=submit]{
    height: 50px;
    font-style: oblique;
    width:max-content;
    background-color: #292b2c;
    border: 2px solid var(--input-border);
    border-radius: 4px;
    color: #FDF5DF;
}

h1{
    text-align: center;
    font-style: oblique;
    font-weight: bolder;
    font-size: x-large;
}
p{
    text-align: right;
}

#viewall > div > form > input[type=submit]{
    height: 50px;
    font-style: oblique;
    width:max-content;
    background-color: #5cb85c;
    border: 2px solid var(--input-border);
    border-radius: 4px;
    color: #FDF5DF;
}

body > main > div.before > div > center > form:nth-child(1) > button{
    height: 30px;
    font-style: oblique;
    width: 76%;
    background-color: #f0ad4e;
    border: 2px solid var(--input-border);
    border-radius: 4px;
    color: #FDF5DF;
}
body > main > div.before > div > center > form:nth-child(2) > button{
    height: 30px;
    font-style: oblique;
    width: 76%;
    background-color: #d9534f;
    border: 2px solid var(--input-border);
    border-radius: 4px;
    color: #FDF5DF;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 15%;
  }
  
  /* Styling the navigation links */
  nav ul li {
    display: inline;
    margin-right: 20px;
    
  }
  
  nav ul li a {
    background-color: #292b2c;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 10%;
    color: #333;
    font-style: oblique;
  }
  
  /* Styling the icons */
  nav ul li a i {
    margin-right: 5px;
  }
  
  /* Styling the "My Portfolio" link */
  nav a:first-child {
    font-weight: bold;
    font-size: 18px;
    color: whitesmoke;
  }
  
  nav a:first-child:hover {
    background-color: transparent;
    color: #333;
  }

  .center {
    margin: auto;
    width: 100%;
    border: 3px solid #292b2c;
    padding: 10px;
  }